<ibm-header-navigation>
    <ibm-header-item>
        <img class="header__consours" src="../../assets/consors.png" />
    </ibm-header-item>
    <ibm-header-item class="future">
        <p class="treder">
            Future<strong>Trader</strong></p>
    </ibm-header-item>
    <ibm-header-item>
        <p class="subheadline" style="margin-left: 100px;">5.000.000,00</p><span class="headertext" style="margin-left: 100px;">{{triggertext3}}</span>
    </ibm-header-item>
    <ibm-header-item>
        <p class="subheadline" style="margin-left: 40px;">2.736.978,82</p><span class="headertext" style="margin-left: 40px;">{{triggerText2}}</span>
    </ibm-header-item>
    <ibm-header-item>
        <p class="subheadline" style="margin-left: 40px;">2.250.627,60</p> <span class="headertext" style="margin-left: 40px;">{{Textsaldo}}</span>
    </ibm-header-item>
    <ibm-header-item>
        <p class="subheadline" style="color: green; margin-left: 25px;">180,82% </p> <span class="headertext" style="margin-left: 25px;">{{triggerText}}</span>
    </ibm-header-item>
    <app-ft-deport-details></app-ft-deport-details>
    <ibm-header-item>
        <svg class="notification" ibmIcon="notification--new" ></svg>
    </ibm-header-item>
    <ibm-header-item>
        <svg class="settings" ibmIcon="settings"></svg>
    </ibm-header-item>
    <ibm-header-item>
        <svg class="user" ibmIcon="user"></svg>
    </ibm-header-item>
</ibm-header-navigation>
