.header__consours{
    height: 55px;
    margin-left: -28px;
    margin-top: 5px;
}
.future{
    margin-left: -33px;
    height: 70px;
    margin-right: 20px;
}
.treder{
     color:#0080A6;
     font-size:16px;
     margin-top: 20px;
     margin-left: 45px;
}
.subheadline{
    height: 22px;
    width: 98px;
    color: #464646;
    font-family: "ProximaNovaT Semibold","Helvetica",Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 22px;
    margin-right: 10px;
    margin-top: 0px;
}
.subheadline-marg{
    height: 22px;
    width: 98px;
    color:  #008B50;;
    font-family: "ProximaNovaT Semibold","Helvetica",Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 22px;
    margin-right: 15px;
    margin-top: 3px;
}
.headertext{
  height: 18px;
  width: 109px;
  color: #464646;
  font-family: "ProximaNovaT Regular","Helvetica",Arial,sans-serif;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 55px;
  position: inherit;
  top: 3px;
}
 .notification{
     background: white;
     width: 32px;
     height: 32px;
     text-align: center;
     line-height: 5px;
     vertical-align: middle;
     padding: 6px;
     margin-left: 370px;
     fill: #464646; 
 }
 .notification:hover{
    background-color: #DADADA;
    border-radius: 50%;
 }
 .settings{
     background: white;
     width: 32px;
     height: 32px;
     text-align: center;
     line-height: 5px;
     vertical-align: middle;
     padding: 6px;
     fill: #464646;
     margin-left: 5px;
 }
 .settings:hover{
    background-color: #DADADA;
    border-radius: 50%;
 }
 .user{
     background: white;
     width: 32px;
     height: 32px;
     text-align: center;
     line-height: 5px;
     vertical-align: middle;
     padding: 6px;
     fill: #464646;
     margin-left: 5px;
 }
 .user:hover{
    background-color: #DADADA;
    border-radius: 50%;
 }

 